* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	line-height: 1.6;
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-position: inside;
}

header {
	margin-bottom: 20px;
}

header .author,
header .date {
	font-style: italic;
	margin-bottom: 0px;
	margin-top: 0px
}

footer {
	margin-top: 20px;
}

nav {
	border-bottom: 1px solid #ccc;
}

nav a {
	margin-left: 5px;
	margin-right: 5px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #ccc;
	padding: 2px 4px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #fafafa;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

img:not(footer img) {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

code {
	background-color: #f4f4f4;
	font-size: 1rem;
}

figcaption {
	font-style: italic;
	text-decoration: underline;
}