* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
	list-style-position: inside;
}
